[Unit]
Description=Webhook Handler
After=network.target

[Service]
User=chekulaev17
WorkingDirectory=/home/chekulaev17/catty-reminders-app
ExecStart=/usr/bin/python3 webhook_handler.py
Restart=always

[Install]
WantedBy=multi-user.target
