[Unit]
Description=Catty App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/DevOps/website-example
EnvironmentFile=/home/ubuntu/DevOps/website-example/.env.deploy
ExecStart=/home/anm/DevOps/website-example/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always

[Install]
WantedBy=multi-user.target
