[Unit]
Description=Catty App
After=network.target

[Service]
User=chekulaev17
WorkingDirectory=/home/chekulaev17/catty-reminders-app
EnvironmentFile=/home/chekulaev17/catty-reminders-app/.env.deploy
ExecStart=/home/chekulaev17/catty-reminders-app/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always

[Install]
WantedBy=multi-user.target
