[Unit]
Description=Webhook Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/DevOps/website-example
ExecStart=/usr/bin/python3 /home/ubuntu/DevOps/website-example/webhook-server.py
Restart=always

[Install]
WantedBy=multi-user.target
